{% extends 'base.html.twig' %}
{% block title %}Modifier {{ animal.name }} - Les patounes du glazik{% endblock %}
{% block stylesheets %}{{ parent() }}<link rel="stylesheet" href="{{ asset('build/app.css') }}">{% endblock %}

{% block body %}
<div class="page-wrapper">

    {% include 'partials/_navbar.html.twig' %}

    <div class="booking-page">
        <div class="container">
            <div class="booking-header">
                <h1>Modifier {{ animal.name }}</h1>
            </div>

            <div class="booking-container">
                <form method="post" action="{{ path('app_animal_edit', { id: animal.id }) }}" class="booking-form">
                    <input type="hidden" name="_token" value="{{ csrf_token('animal-edit-' ~ animal.id) }}">
                    {% include 'animal/_form_fields.html.twig' with { animal: animal, species: species, sexes: sexes } %}
                    <div class="booking-form-actions">
                        <a href="{{ path('app_profile') }}" class="btn-secondary-action">Annuler</a>
                        <button type="submit" class="btn-booking-submit">Enregistrer les modifications</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% include 'partials/_footer.html.twig' %}
</div>
{% endblock %}
